body{
    background-color: aqua;
}

nav {
    background-color: aquamarine;
    color: black;
    padding: 30px, 30px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a :hover{
    color: yellow;
    text-decoration: none;
}